body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main-font;
    background-color: azure;
}

.hidden {
    display: none;
}

.gameArea {
    width: $road-width;
    height: 100vh;
    position: relative;
    margin: auto;
    background-color: $asphalt-color;
    overflow: hidden;
}

.road-line {
    position: absolute;
    width: $road-line-width;
    height: $road-line-length;
    background: $road-line-color;
    left: $road-width / 2 - ($road-line-width / 2);
}

.car {
    position: absolute;
    width: 75px;
    height: 150px;
}

.player {   
    width: 75px;
    height: 150px;
    bottom: 25px;
    left: $road-width / 2 - 90 / 2;
}

.start {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    z-index: 10;
    color: #fff;
    font-size: 1.5rem;
    background: black;
    cursor: pointer;
    font-weight: bold;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 1rem 0;
    z-index: 10;
    font-size: 1.5rem;
    color: skyblue;
    text-align: center;
    font-weight: bold;
}