@import "utils/variables";
@import "utils/mixins";
@import "utils/fonts";

@import "modules/player";

body {
    padding: 0;
    margin: 0;
    //box-sizing: border-box;
    font-family: $main-font;
    background-color: azure;
}

.hidden {
    display: none;
}

.car, .opponent {
    background: transparent url('../img/player.png') center / cover no-repeat;
}

.gameArea {
    width: $road-width;
    height: 100vh;
    position: relative;
    margin: auto;
    background-color: rgb(80, 80, 80);
    overflow: hidden;
}

.road-line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
}

