@import "./modules/intro";
@import "./modules/difficulty";
@import "./modules/game";
@import "./modules/hud";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $nfs-font;
    color: $nfs-color;
    background-color: azure;
    user-select: none;
}

.hidden {
    display: none;
}

.wrapper {
    width: $road-width;
    margin: auto;
}