@font-face {
    font-family: "NFS";
	src: url("../fonts/NFS.ttf");
}

@font-face {
	font-family: "Neutra Text Bold";
	src: url("../fonts/Neutra-Text-Bold.ttf");
}

@font-face {
	font-family: "Caviar Dreams";
    src: url("../fonts/Caviar-Dreams/CaviarDreams.ttf");
}

@font-face {
	font-family: "Caviar Dreams Bold";
    src: url("../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf");
}

@font-face {
	font-family: "Caviar Dreams Italic";
    src: url("../fonts//Caviar-Dreams/CaviarDreams_Italic.ttf");
}

@font-face {
	font-family: "Caviar Dreams Bold Italic";
    src: url("../fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf");
}