$asphalt-color: rgb(80, 80, 80);
$road-width: 450px;
$road-line-width: 10px;
$road-line-length: 50px;
$road-line-color: #eee;

$nfs-font: 'NFS', Helvetica, Arial, sans-serif;
$nfs-color: rgb(12, 188, 241);
$grad: radial-gradient(rgb(39, 76, 180), rgb(4, 5, 83));