$car-base: 2;

.car {
    margin: 50px auto;
    width: 120px * $car-base;
    height: 75px * $car-base;
    background: transparent url('../../img/player.png') center / cover no-repeat;
    transform: rotate(90deg);
}